:root {
    --vp-layout-max-width: 1856px;
}

:lang(ru) {
    --vp-code-copy-copied-text-content: 'Скопировано';
}

.VPDoc .content-container {
    max-width: 1856px!important;
}

@media screen and (max-width: 1856px) {
    :root {
        --vp-layout-max-width: 1440px!important;
    }
}